<% content_for(:title) do %>
  chez Olivier
<% end %>



<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h1>List des cocktails</h1>
      <%= link_to "Add a new cocktail", new_cocktail_path %>
    </div>
  </div>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
         <h3>
           <%= cocktail.name %>
        </h3>
        <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
