<div class="container" style= "min-height: 80vh;">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Ajouter un cocktail</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, input_html: { placeholder: "Mojito des iles" } %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
