<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6">
        <ul class="list-inline">
          <li>
            <a href="https://www.youtube.com/channel/UChCDYcBCrb8tuPAO6e0P-Hw">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/louis_sbk/">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/eric.lacaille.5?fref=ts">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/rachelc00k">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6">
      <p>This is a Cocktail challenge @ LeWagon</p>
      </div>
    </div>
  </div>
</div>
